{% extends 'layout.html' %}

{% block content %}
<section id="error-404" class="mw-100 h-25">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center " id="main">
                    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
                    <div class="inline-block align-middle">
                        <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}