{% extends 'layout.html' %}

{% block content %}
  <div section="content" id="content">
    <div section="dashboard" id="dashboard">
      <div id="user-info" class="mt-3">
        <div class="row">
          <div class="container text-center">
            {% comment %} <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
              alt="User image" width="50"> {% endcomment %}
            <p>Welcome <strong>{{ twitch_username }}</strong></p>
            <p>Enter your favorite Twitch streamer name to begin.</p>
          </div>
        </div>
      </div>

      <hr>
      <div id="new-favorite-streamer-form">
        <div class="row">
          <div class="container text-center">
            <form class="form-inline justify-content-center align-items-center" action="{% url 'stream:dashboard' %}" method="post">
              {% csrf_token %}
              <label class="sr-only">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input required type="text" class="form-control" id="streamer_name" name="streamer_name" placeholder="Twitch streamer name">
              </div>
              <button type="submit" class="btn btn-primary mb-2" value="Vote">Set</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <hr>

    <!-- <div id="favorite-streamer-list" class="mt-3 mb-3">
    <div class="row">
      <div class="container text-center">
        Favorite Streamer List
      </div>
    </div>
  </div> -->


  </div>

{% endblock %}