{% extends 'layout.html' %} {% load static %} {% block app_style %}

<link rel="stylesheet" href="{% static 'stream/css/style.css' %}" />

{% endblock %} {% block content %}

<div section="content" id="content">
  <div section="favorite-streamer" id="favorite-streamer">
    <ul class="nav nav-tabs justify-content-center align-items-center mt-2" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="streamer-tab" data-toggle="tab" href="#streamer" role="tab" aria-controls="streamer"
          aria-selected="true">Streamer</a>
      </li>
      {% if can_pub_sub %}
      <li class="nav-item">
        <a class="nav-link" id="last-activity-tab" data-toggle="tab" href="#last-activity" role="tab"
          aria-controls="last-activity" aria-selected="false">Last Chat Events</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events"
          aria-selected="false">Next Events</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active fade justify-content-center align-items-center text-center" id="streamer" role="tabpanel"
        aria-labelledby="streamer-tab">
        <div class="row">
           <div class="col-md-9 stream-col">
            <div class="stream-iframe-container">
              <iframe id="stream" src={{ streamer_embed_url }}
                frameborder="
                0" scrolling="no" allowfullscreen="true">
              </iframe>
            </div>
          </div>

          <div class="col-md-3 chat-col">
            <div class="chat-iframe-container">
              <iframe id="chat" frameborder="0" height="500" width="100%" scrolling="no" id="chat_embed" src={{ streamer_chat_url }}
              >
              </iframe>
            </div>
          </div> 
        </div> 
      </div>
      {% if can_pub_sub %}
      <div
        class="
                tab-pane fade justify-content-center align-items-center text-center" id="last-activity"
                role="tabpanel" aria-labelledby="last-activity-tab">
        <div class="container col-md-6 text-left">
          <ul class="list-group list-group-flush" id="activity-list">
            <li class="list-group-item">
            <li class="list-group-item" item-id="start">Awaiting for the first activity...</li>
          </ul>
        </div>
      </div>
      {% endif %}

            <div class="tab-pane fade justify-content-center align-items-center text-center" id="events" role="tabpanel"
              aria-labelledby="events-tab">
              <div class="container col-md-6 text-left">
                <ul class="list-group" id="event-list">
                  <li item-id='start' class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 text-right">
                      {% comment %} <small class="text-muted text-right">28 Feb</small> {% endcomment %}
                    </div>
                    <p class="mb-1">Fetching events...</p>
                    {% comment %} <small class="text-muted">Desc.</small> {% endcomment %}
                  </li>
                  {% comment %} <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 text-right">
                      <small class="text-muted text-right">28 Feb</small>
                    </div>
                    <p class="mb-1">Title.</p>
                    <small class="text-muted">Desc.</small>
                  </li> {% endcomment %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      {% endblock %} 
      
      {% block app_js %}
      <script>
        var contextData = JSON.parse(`{{ context_data|safe }}`);
        var STARTMESSAGEHASH = "start";
        var currentActivMsg = new Set([STARTMESSAGEHASH]);
        var currentEvents = new Set([STARTMESSAGEHASH]);
        var DEBUG = false
        var TESTING = false
      </script>

      <script src="{% static "stream/js/last-activity.js" %}"></script>
      <script src="{% static "stream/js/websock.js" %}"></script>
      <script src="{% static "stream/js/events.js" %}"></script>
      <script src="{% static "stream/js/main.js" %}"></script>
      {% endblock %}