{% extends 'layout.html' %}
{% load static %}

{% block app_style %}

<link rel="stylesheet" href="{% static 'oauth_login/css/style.css' %}">
{% endblock %}
{% block content %}
<div section="content" id="content">
    <section id="login", class="login-area">
        <div class="section-content">
            <div class="container">
                <div class="col-md-6">
                    <div class="login-text">
                        <h3>Aboout this application</h3>
                        <p class="lead">This application was developed using mainly Django, Bootstrap and JavaScript.</p>
                        <p>
                        </p>
                        {% if not user.is_authenticated %}
                        <h5>Connect with Twitch to Start</h5>

                        <form method="post" action="{% url 'oauth_login:social:begin' 'twitch' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-block btn-lg btn-info">Connect with Twitch</button>
                        </form>
                        {% else %}
                        <h5>You are already logged</h5>
                        <form method="get" action="{% url 'stream:dashboard' %}">
                            <button type="submit" class="btn btn-block btn-lg btn-info">Go to My Dashboard</button>
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}