.stream-col {
    padding-right: 0;

}

.chat-col {
    padding-left: 0;
}

.stream-iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.stream-iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.chat-iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}