.login-area {
    background: url("/static/oauth_login/img/fortnite.0470da02a3e8.jpg") top center no-repeat;
    background-size: cover;
    min-height: 35rem;
}


.login-text {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.875rem;
}